*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    display: flex;
    background-color: rgb(186, 119, 249);
    align-items: center;
    justify-content: center;
}

main{
    height: 80vh;
    display: flex;
    background-color: rgb(119, 156, 249);
    align-items: center;
    justify-content: center;
}

footer{
    height: 10vh;
    display: flex;
    background-color: rgb(186, 119, 249);
    align-items: center;
    justify-content: center;
}


